.container {
  /* Gradient background with a fallback solid color */
  background: #C9DABF;
  padding: 20px;
  min-height: 100vh;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  margin-bottom: 50px;
}

.item {
  background-color: blue;
}

.box {
  background-color: purple;
  width: 250px;
}
